<html>
{% load static %}
    <head>
		<link rel="stylesheet" href="{% static 'hias.css' %}">
        <title>PR1</title>
    </head>
    <body>
        <div class="gambar">
            <img id="img" align="center" src="{% static 'IMG-20190712-WA0000.jpg' %}" style="width: 15vw; height: auto;">
        </div>
        <div class="nama">
            <font face="Calibri">
            <p align="center">HAMZAH DAFFA ARRAYHAN <br> SISTEM INFORMASI</P>
            </font>
        </div>
        <div class="download">
            <button id="tombol" >DOWNLOAD</button>
        </div>
        <div class="send">
            <font face="Calibri" color="grey">
            <p align="center">SEND ME SOME WORD</p>
            </font>
        </div>
        <div class="inpt">
            <input type="text" style="width:25vw; height:10vh;">
        </div>
    </body>
</html>