.gambar{
	display: flex;
	justify-content: center;
	
}
#img{
	border: 5px solid black;
	border-radius: 40px;
}
.download{
	border: 3px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
}
.inpt{
	display: flex;
	justify-content: center;
	max-height: ;
	max-width: ;
}
#tombol{
	border: 3px solid black;
	border-radius: 40px;
	background-color: white;
	padding: 10px;
}
